body {
    margin: 0;
    padding: 0;
}

/*------------------------------------------------------------------------*/
p {
    margin: 5px;
}

h3 {
    margin: 3px;
}

/*------------------------------------------------------------------------*/
.grid-container {
    display: grid;
    height: 100vh;
    grid-template-columns: 0.7fr 0.4fr 0.7fr;
    grid-template-areas:
        "a a a"
        "r c t"
        "b b b";
}

.relleno {
    grid-area: a;
}
.relleno {
    grid-area: r;
}
.relleno {
    grid-area: b;
}
/*------------------------------------------------------------------------*/
/* div que contiene las 2 cajas para el resultado final de la compra */
.caja-total {
    grid-area: t;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: 2px solid #92fa4c00;
    background-color: rgb(255, 255, 255);
    width: 100%;
    height: 100%;
}

.caja-total2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: 2px solid #c2a9f0ec;
    background-color: rgb(255, 255, 255);
    border-radius: 1%;
    width: 80%;
    height: 45%;
    background-color: #4c29ad10;
    background-image: linear-gradient(315deg, #2f70ac86 0%, #5313b96e 74%);
}

.caja3color {
    display: flex;
}

#circle {
    width: 25px;
    height: 25px;
    border-radius: 50px;
    border: solid 0.5px rgba(131, 24, 173, 0.452);
    background-color: rgba(0, 0, 0, 0);
}

/*-----------------------card y todo su contenido---------------------------------*/
.cards {
    grid-area: c;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin: 10px;
    border: 2px solid #bdbcbcec;
    border-radius: 5px;
    width: 45vh;
    height: 90%;
    background-color: #65f8e0;
    background-image: linear-gradient(315deg, #2f70ac 0%, #9213b9 74%);
}

.imagen {
    display: flex;
    justify-content: center;
    border: 5px solid #494949ec;
    border-style: none;
    width: 100%;
    height: 100%;
}

.texto-card {
    display: flex;
    justify-content: center;
}
/*---------Producto---------*/
.producto-cantidad {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
#cantidadInput {
    padding: 10px 40px; 
    width: 70%;
}
/*-----------BOTON-----------*/
.boton {
    display: flex;
    justify-content: center;
    padding: 10px 55px;
    margin-bottom: 25px;
    background-color: #00418b;
    background-image: linear-gradient(314deg, #5cd1ff60 0%, #7e52a18f 74%);
}

#resultadoTotal {
    width: 100%;
    height: 100%;
}

.caja1cantidad {
    display: flex;
    border-style: none;
}

.caja2cantidad {
    display: flex;
}